.img1>Img{
    width: 1300px;
    justify-content: center;
    text-align: center;
    margin-left: 30px;
    margin-top: 20px;
}
.img2>Img{
    width: 1300px;
    justify-content: center;
    text-align: center;
    margin-left: 30px;
    margin-top: 20px;
}
.img3>Img{
    width: 1300px;
    justify-content: center;
    text-align: center;
    margin-left: 30px;
    margin-top: 20px;
}