.sale{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.img{
    width: 200px;
}
.mainha{
    gap:50px;
}
.main-wrapper2 {
    gap: 40px;
}