
.img{
    width: 300px;
}
.main-wrapper>h1{
margin-left: 20px;
margin-top: 20px;
   
   
}

.main-wrapper2{
display: flex;
flex-wrap: wrap;
text-align: center;
justify-content: center;
gap: 20px;
}

.h1{
    
    font-size: 40px;
    margin-top: 10px;
    margin-left: 20px;
}